# Default ignored files
/shelf/
/workspace.xml
.idea/


Project1/stanford/

Project1/preprocessed_files/*.ftr
Project1/preprocessed_files/*.pickle

Project2/preprocessed_files/*.ftr
Project2/preprocessed_files/*.pickle
Project2/preprocessed_files/*.json