<head>
    <title>Search Engine - CS437</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  
  <body style="background-color: rgb(240, 250, 241); "> 
    <div class="jumbotron text-center" style="background-color: rgb(202, 245, 202); border-bottom: 3px solid black; margin-bottom: 3%;">
      <h1>Brandon, Nina, And Stephanie's Amazing Search Engine!</h1>
    </div>
    <div class="container" style="background-color: lightsteelblue; border: 3px solid black; margin-bottom: 50px;">
      <div class="row">
       <div class="col-sm-4" style="background-color: lightsteelblue; border: 3px solid black; height: 450px; text-align: center;">
          <form>
            <h3> Type your query here!</h3>
            <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
            <label for="form-search"></label>
            <input type="text" onkeyup="suggestions()" class="form-control" id="form-search" placeholder="Enter your query here">
          </form>
          <button type="button" onclick="querySearch()" class="btn" style="margin-left: auto; margin-right: auto;">Search Query!</button>
          <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
          <div>
            <h3>PAST QUERIES</h3>
          <ol style="text-align: left" type="1">
            <li id='pastq1'> </li>
            <li id='pastq2'> </li>
            <li id='pastq3'> </li>
            <li id='pastq4'> </li>
            <li id='pastq5'> </li>
          </ol>
        </div>
        </div>
        <div class="col-sm-4" style="background-color: lightsteelblue; border: 3px solid black; height: 450px;">
          <h3 style="text-align: center;">SUGGESTIONS</h3>
          <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
          <ol>
            <li id='querysug1' style="text-align: left;"> </li>
            <br>
            <li id='querysug2' style="text-align: left;"> </li>
            <br>
            <li id='querysug3' style="text-align: left;"> </li>
            <br>
            <li id='querysug4' style="text-align: left;"> </li>
            <br>
            <li id='querysug5' style="text-align: left;"> </li>
            <br>
          </ol>
        </div>
        <div class="col-sm-4" style="background-color: lightsteelblue; border: 3px solid black; height: 450px;">
          <h3 style="text-align: center;">QUERY RESULTS</h3>
          <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
          <ol type="1">
            <li id='qsearch1'> </li>
            <br>
            <li id='qsearch2'> </li>
            <br>
            <li id='qsearch3'> </li>
            <br>
            <li id='qsearch4'> </li>
            <br>
            <li id='qsearch5'> </li>
          </ol>
        </div>
      </div>
    </div>

    <!-- Handles Suggestions Javascript-->
    <script>
      function suggestions() {
        update_suggestions()
       }
    </script>
  
  <!-- Remove Enter button from refreshing page -->
 <script>
    document.getElementById('form-search').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
  </script>

    <!-- Query Search JavaScript-->
    <script>
      function querySearch() {

        // Updates Past Queries
        var x = document.getElementById("form-search").value;
        document.getElementById("pastq5").innerHTML = document.getElementById("pastq4").innerHTML;
        document.getElementById("pastq4").innerHTML = document.getElementById("pastq3").innerHTML;
        document.getElementById("pastq3").innerHTML = document.getElementById("pastq2").innerHTML
        document.getElementById("pastq2").innerHTML = document.getElementById("pastq1").innerHTML
        document.getElementById("pastq1").innerHTML = x

        // Todo: Return search results
        document.getElementById("qsearch1").innerHTML = "Looks like you searched for something!";
        document.getElementById("qsearch2").innerHTML = "Looks like you searched for something!";
        document.getElementById("qsearch3").innerHTML = "Looks like you searched for something!";
        document.getElementById("qsearch4").innerHTML = "Looks like you searched for something!";
        document.getElementById("qsearch5").innerHTML = "Looks like you searched for something!";
      }
    </script>

    <!-- Actually handles updating-->
    <script>
      function update_suggestions() {
        var query = document.getElementById("form-search").value;
        const Url="http://127.0.0.1:5000/suggestions";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
            var data = JSON.parse(xhr.response)
            console.log(xhr.response)
            console.log(data)
            document.getElementById("querysug1").innerHTML = data.suggestions[0]
            document.getElementById("querysug2").innerHTML = data.suggestions[1];
            document.getElementById("querysug3").innerHTML = data.suggestions[2];
            document.getElementById("querysug4").innerHTML = data.suggestions[3];
            document.getElementById("querysug5").innerHTML = data.suggestions[4];
            }
          } 
          xhr.open("POST", Url, true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({"query": query}));
        }


    </script>

  </body>