<head>
    <title>Search Engine - CS437</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  
  <body style="background-color: rgb(240, 250, 241); "> 
    <div class="jumbotron text-center" style="background-color: rgb(202, 245, 202); border-bottom: 3px solid black; margin-bottom: 3%;">
      <h1>Brandon, Nina, And Stephanie's Amazing Search Engine!</h1>
    </div>
    <div class="container" style="background-color: lightsteelblue; border: 3px solid black; margin-bottom: 50px; height: 75%;">
      <div class="row">
       <div class="col-sm-4" style="background-color: lightsteelblue; border: 3px solid black; height: 100%; text-align: center;">
          <form>
            <h3> Type your query here!</h3>
            <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
            <label for="form-search"></label>
            <input type="text" onkeyup="suggestions()" class="form-control" id="form-search" placeholder="Enter your query here">
          </form>
          <button type="button" onclick="querySearch()" class="btn" style="margin-left: auto; margin-right: auto;">Search Query!</button>
          <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
          <div>
            <h3>PAST QUERIES</h3>
          <ol style="text-align: left" type="1">
            <li id='pastq1'> </li>
            <li id='pastq2'> </li>
            <li id='pastq3'> </li>
            <li id='pastq4'> </li>
            <li id='pastq5'> </li>
          </ol>
        </div>
        </div>
        <div class="col-sm-4" style="background-color: lightsteelblue; border: 3px solid black; height: 100%;">
          <h3 style="text-align: center;">SUGGESTIONS</h3>
          <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
          <ol>
            <li id='querysug1' style="text-align: left;"> </li>
            <br>
            <li id='querysug2' style="text-align: left;"> </li>
            <br>
            <li id='querysug3' style="text-align: left;"> </li>
            <br>
            <li id='querysug4' style="text-align: left;"> </li>
            <br>
            <li id='querysug5' style="text-align: left;"> </li>
            <br>
          </ol>
        </div>
        <div class="col-sm-4" style="background-color: lightsteelblue; border: 3px solid black; height: 100%;">
          <h3 style="text-align: center;">QUERY RESULTS</h3>
          <hr style="background-color: black; color:black; height: 2px; border-top: 1px solid black;">
          <ol type="1">
            <li> 
              <h4 id='qsearch1Title'> </h4>
              <p id='qsearch1Snip1'> </p>
            </li>
            <li> 
              <h4 id='qsearch2Title'> </h4>
              <p id='qsearch2Snip1'> </p>
             </li>
            <li> 
              <h4 id='qsearch3Title'> </h4>
              <p id='qsearch3Snip1'> </p>
           </li>
            <li> <h4 id='qsearch4Title'> </h4>
              <p id='qsearch4Snip1'> </p>
              </li>
            <li> <h4 id='qsearch5Title'> </h4>
              <p id='qsearch5Snip1'> </p>
              </li>
          </ol>
        </div>
      </div>
    </div>

    <!-- Handles Suggestions Javascript-->
    <script>
      function suggestions() {
        update_suggestions()
       }
    </script>
  
  <!-- Remove Enter button from refreshing page -->
 <script>
    document.getElementById('form-search').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
  </script>

    <!-- Query Search JavaScript-->
    <script>
      function querySearch() {

        // Updates Past Queries
        var x = document.getElementById("form-search").value;
        document.getElementById("pastq5").innerHTML = document.getElementById("pastq4").innerHTML;
        document.getElementById("pastq4").innerHTML = document.getElementById("pastq3").innerHTML;
        document.getElementById("pastq3").innerHTML = document.getElementById("pastq2").innerHTML
        document.getElementById("pastq2").innerHTML = document.getElementById("pastq1").innerHTML
        document.getElementById("pastq1").innerHTML = x

        var query = document.getElementById("form-search").value;
        const Url="http://127.0.0.1:5000/search";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
            var data = JSON.parse(xhr.response)
            console.log(xhr.response)
            console.log(data)
            document.getElementById("qsearch1Title").innerHTML = data[0].title
            document.getElementById("qsearch1Snip1").innerHTML = data[0].one + " " + data[0].two

            document.getElementById("qsearch2Title").innerHTML = data[1].title
            document.getElementById("qsearch2Snip1").innerHTML = data[1].one + " " + data[1].two

            document.getElementById("qsearch3Title").innerHTML = data[2].title
            document.getElementById("qsearch3Snip1").innerHTML = data[2].one + " " + data[2].two

            document.getElementById("qsearch4Title").innerHTML = data[3].title
            document.getElementById("qsearch4Snip1").innerHTML = data[3].one + " " +data[3].two

            document.getElementById("qsearch5Title").innerHTML = data[4].title
            document.getElementById("qsearch5Snip1").innerHTML = data[4].one + " " + data[4].two
            }
          } 
          xhr.open("POST", Url, true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({"query": query}));
        }
    </script>

    <!-- Actually handles updating-->
    <script>
      function update_suggestions() {
        var query = document.getElementById("form-search").value;
        const Url="http://127.0.0.1:5000/suggestions";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
            var data = JSON.parse(xhr.response)
            console.log(xhr.response)
            console.log(data)
            document.getElementById("querysug1").innerHTML = data.Suggestions[0];
            document.getElementById("querysug2").innerHTML = data.Suggestions[1];
            document.getElementById("querysug3").innerHTML = data.Suggestions[2];
            document.getElementById("querysug4").innerHTML = data.Suggestions[3];
            document.getElementById("querysug5").innerHTML = data.Suggestions[4];
            }
          } 
          xhr.open("POST", Url, true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({"query": query.toLowerCase()}));
        }


    </script>

  </body>